:root {
    --color1: rgb(55, 56, 84);
    --color2: rgb(73, 50, 103);
    --color3: rgb(158, 55, 159);
    --color4: rgb(232, 106, 240);
    --color5: rgb(123, 179, 255);
}

body {
    background-color: var(--color1);
}

img {
    width: 100px;
    height: 100px;
}

h1 {
    background-color: var(--color3);
    border-radius: 10px 0px 10px 0px;
    text-align: center;
    font-family: 'Jacquard 12', 'sans-serif';
    font-size: 100px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.center {
    height: 800px;
}

.hraci_usporadani {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.hraci {
    display: flex;
    justify-content: space-between;

    font-family: 'Bytesized', sans-serif;
    font-size: 30px;
}

.vitezove {
    display: flex;
    justify-content: space-between;

    font-family: 'Bytesized', sans-serif;
    font-size: 20px;
    height: 100px;
}

.flex_obrazky {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.obrazky_hrac1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.obrazky_hrac1 img {
    border: 3px solid var(--color3);
    border-radius: 5px;
}

.obrazky_hrac2 {
    display: flex;
    align-items: center;
}

.obrazky_hrac2 img {
    border: 3px solid var(--color3);
    border-radius: 5px;
}

.tlacitka {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    height: 100px;
}

button {
    width: 130px;
    max-width: 150px;
    max-height: 40px;
    font-size: 25px;
    font-family: 'Bytesized', 'sans-serif';

    color: var(--color5);
    background-color: var(--color2);
    border-radius: 10px 0px 10px 0px;
    border-color: var(--color5);

}